@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Poppins&display=swap');
html{
  background-color: #161927;
  color: #fff;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1,h2{
  margin-top: 20px;
  margin-bottom: 10px;
}

.App-header {
  background-color: #161927;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.calc{
  background-color: #576ee0;
  border-radius: 20px;
  height: 65vh;
  padding-top: 10px;
  width: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.container{
  display: flexbox;
}

.tabs{
  flex-direction: column-reverse;
  color: aqua;
}

.tab-button{
  background-color:#1d2135 ;
  margin: 20px;
  height: 80px;
  width: 350px;
  margin-top:40px ;
  color: #fff;
  border: 3px #1d2135 solid;
  border-radius: 10px;
  font-size: 20px;
  transition: 500ms;


}



.tab-button:disabled{
  background-color: #576ee0;
  color: #fff;
  border:3px #576ee0 solid;
}

.content{
  padding-top: 40px;
}

.grid{
  height: 43vh;
  display: grid;
  grid-template-columns: 50% 50%;
}
.grid-left{
  padding-top: 120px;
}
.amount{
    width: 80%;
    background-color: #1d2135;
    border-radius: 10px;
    font-size: 20px;
    color: #fff;
    margin: 20px;
    border:none;
    outline: none;
    padding: 20px;
    font-family: 'Poppins', sans-serif;

}
.amount:placeholder{
  color: hsl(230, 8%, 45%) ;
}

.calculate-button{
  background-color: #1d2135;
  margin: 20px;
  width: 50%;
  
  padding: 20px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
font-size: 20px;
  border: #1d2135;
  border-radius: 10px;
}

.result{
  font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

.blue{
  color: hsl(0, 3%, 74%);
  font-size: 70px;
  font-weight: 700;
}

.red{
  color: rgb(238, 255, 0);
  font-size: 70px;
  font-weight: 700;
}

.title{
  font-size: 50px;
}
.subtitle{
  font-size: 35px;
}


/*--MEDIA QUERIES--*/

/*Small Devices*/

@media screen and (max-width: 380px) {

}

/*--Medium Devices--*/

@media screen and (max-width:608px){
  .grid{
    grid-template-columns: auto;
   }
   .tab-button{
    width: 18vh;
   }
   .content{padding-top: 10px;}
   .calc{
    width: auto;
    height: 70vh;
   }
   .grid-left{
    padding-top: 10px;
   }
   .calc{
    width: auto;
    height: 80vh;
   }
   
}

@media screen and (max-width: 868px){
 .calc{
  width: auto;
  height: 75vh;
 }

 .grid{
  grid-template-columns: auto;
 
 }
 
 
}



